* {
    font-family: 'Roboto', sans-serif;
    ;
    color: white;
}


html,
body {
    height: 100%;
    background-image: url(images/zen\ background.png);
    background-size: cover;
    /* background: rgb(36, 147, 108); */
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
    padding: 0 3%;
}

header {
    display: block;
    background-color: rgba(10, 101, 10, 0.8);
    width: 100%;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

#task-section {
    margin-bottom: 15px;
    height: 300px;
    width: fit-content;
    justify-content: end;
}

#task-section input {
    color: rgb(10, 101, 10);
}

#task-section #localStorageData p {
    color: rgb(16, 45, 2);
}

.tasks-list::-webkit-scrollbar {
    width: 10px;
    padding: 20px;
    margin: 20px;
}

.tasks-list::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 5px;
}

.tasks-list {
    max-height: 250px;
    /* width:fit-content; */
    justify-content: end;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: blue lightgray;
    flex-direction: column-reverse;
}

#taskInput {
    margin-right: 10px;
}

#timer-section {
    /* position: inherit; */
    /* top: 7px;
    right: 7px; */
    border: 2px solid rgba(58, 90, 47, 255);
    border-radius: 20px;
    padding: 40px 80px;
    background: rgba(10, 101, 10, 0.85);
    margin-left: 10px;
}

#timer-section h3 {
    font-size: 1.5rem;

    margin: 0;
}

#timer-section h2 {
    font-size: 5.5rem;
    margin: 20px 0 20px;
}

#timer-section button {
    width: 100px;
    height: 40px;
}

.bubble {
    transition: transform 0.4 ease-in-out;
}

.bubble:hover {
    transform: scale(1.1);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal {
    position: absolute;
    border: 2px solid rgb(33, 143, 211);
    border-radius: 20px;
    padding: 40px;
    background: rgba(29, 186, 222, 0.9);
    height: 500px;
    width: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    /* opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, visibility 0s linear o.3s, transform 0.3s ease-in-out; */
}

/* .modal.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, visibility 0s linear, transform 0.3 ease-in-out;
} */

#modal h4 {
    font-weight: 700;
    margin-bottom: 5px;
}

#modalAPI {
    font-weight: bolder;
    text-align: justify;
    height: fit-content;
}

#modal-timer {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
}

#radio-toggle {
    border: none;
    border-radius: 10px;
}

#radio-section {
    background-color: rgba(32, 142, 32, 0.85);
    /* background-color: #42B78A; */
    border-radius: 5px;
    height: fit-content;
}

.radio-genre {
    appearance: none;
    /* Remove default style */
    background-color: none;
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    /* background-image: url('arrow-down-icon.svg');  Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-size: 1rem;
}

.custom-select:focus {
    outline: none;
    border-color: #a0a0a0;
    box-shadow: 0 0 3px #a0a0a0;
}

#marquee-container {
    position: relative;
    height: 25px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

#station-name {
    position: absolute;
    /* left:0; */
    white-space: nowrap;
    z-index: 100;
    /* background:black; */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: rgba(58, 90, 47, 255);
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px solid black;
}

/* footer ul li a:nth-of-type(2) {
    border-right: none;
} */

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer img {
    width: 30px;
    height: 30px;
}